<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sl.dao.UserMapper">

	<!-- 根据账户密码查询 -->
	<select id="getUser" parameterType="User" resultType="User">
		select * from au_user where loginCode = #{loginCode} and password = #{password}
	</select>

	<!-- 通过某个属性查User对象的数量 -->
	<select id="getUserByName" parameterType="User" resultType="int">
		select count(1) from au_user
		<where>
			<if test="loginCode != null">and loginCode = #{loginCode}</if>
			<if test="id != null">and id != #{id}</if>
		</where>
	</select>

	<!-- 修改User属性 -->
	<update id="updateUser" parameterType="user">
		update au_user
			<set>
				<if test="loginCode != null"> loginCode = #{loginCode},</if>
				 <if test="userName != null"> userName = #{userName},</if>
				 <if test="password != null"> password = #{password},</if>
				 <if test="password2 != null"> password2 = #{password2},</if>
				 <if test="sex != null"> sex = #{sex},</if>
				 <if test="birthday != null"> birthday = #{birthday},</if>
				 <if test="cardType != null"> cardType = #{cardType},</if>
				 <if test="cardTypeName != null"> cardTypeName = #{cardTypeName},</if>
				 <if test="idCard != null"> idCard = #{idCard},</if>
				 <if test="country != null"> country = #{country},</if>
				 <if test="mobile != null"> mobile = #{mobile},</if>
				 <if test="email != null"> email = #{email},</if>
				 <if test="userAddress != null"> userAddress = #{userAddress},</if>
				 <if test="postCode != null"> postCode = #{postCode},</if>
				 <if test="createTime != null"> createTime = #{createTime},</if>
				 <if test="referId != null"> referId = #{referId},</if>
				 <if test="referCode != null"> referCode = #{referCode},</if>
				 <if test="roleId != null"> roleId = #{roleId},</if>
				 <if test="roleName != null"> roleName = #{roleName},</if>
				 <if test="userType != null"> userType = #{userType},</if>
				 <if test="userTypeName != null"> userTypeName = #{userTypeName},</if>
			 	 <if test="isStart != null"> isStart = #{isStart},</if>
			 	 <if test="lastUpdateTime != null"> lastUpdateTime = #{lastUpdateTime},</if>
			 	 <if test="lastLoginTime != null"> lastLoginTime = #{lastLoginTime},</if>
			 	 <if test="bankName != null"> bankName = #{bankName},</if>
			 	 <if test="accountHolder != null"> accountHolder = #{accountHolder},</if>
			 	 <if test="bankAccount != null"> bankAccount = #{bankAccount},</if>
			 	 <if test="idCardPicPath != null"> idCardPicPath = #{idCardPicPath},</if>
			 	 <if test="bankPicPath != null"> bankPicPath = #{bankPicPath}</if>
		     </set>
			where id = #{id}
	</update>

	<!-- 获取用户总数量 -->
	<select id="count" resultType="int" parameterType="user">
		select count(1) from au_user
		<trim prefix="where" prefixOverrides="and | or">
			<if test="loginCode != null">
				and loginCode like CONCAT('%',#{loginCode},'%')
			</if>
			<if test="userName != null">
				and userName like CONCAT('%',#{userName},'%')
			</if>
			<if test="referCode != null">
				and referCode like CONCAT('%',#{referCode},'%')
			</if>
			<if test="roleId != null">
				and roleId = #{roleId}
			</if>
			<if test="isStart != null">
				and isStart = #{isStart}
			</if>
			<if test="referId != null">
				and referId = #{referId}
			</if>
			<if test="userType != null">
				and userType = #{userType}
			</if>
		</trim>
	</select>

	<!-- 获取分页用户列表 -->
	<select id="getUserList" resultType="user" parameterType="user">
		select * from au_user
		<trim prefix="where" prefixOverrides="and | or">
			<if test="loginCode != null">
				and loginCode like CONCAT('%',#{loginCode},'%')
			</if>
			<if test="userName != null">
				and userName like CONCAT('%',#{userName},'%')
			</if>
			<if test="loginCode != null">
				and loginCode like CONCAT('%',#{loginCode},'%')
			</if>
			<if test="referCode != null">
				and referCode like CONCAT('%',#{referCode},'%')
			</if>
			<if test="roleId != null">
				and roleId = #{roleId}
			</if>
			<if test="isStart != null">
				and isStart = #{isStart}
			</if>
			<if test="referId != null">
				and referId = #{referId}
			</if>
			<if test="userType != null">
				and userType = #{userType}
			</if>
		</trim>
		order by createTime desc limit #{starNum},#{pageSize}
	</select>

	<!-- 添加用户 -->
	<insert id="addUser" parameterType="int">
		insert into au_user (loginCode,password,password2,userName,sex,birthday,cardType,
							 cardTypeName,idCard,country,mobile,email,userAddress,postCode,
							 createTime,referId,referCode,roleId,roleName,userType,userTypeName,
							 isStart,lastUpdateTime,lastLoginTime,bankName,accountHolder,bankAccount,idCardPicPath,bankPicPath)

		values (#{loginCode},#{password},#{password2},#{userName},#{sex},#{birthday},
							 #{cardType},#{cardTypeName},#{idCard},#{country},#{mobile},#{email},#{userAddress},
							 #{postCode},#{createTime},#{referId},#{referCode},#{roleId},#{roleName},#{userType},
							 #{userTypeName},#{isStart},#{lastUpdateTime},#{lastLoginTime},#{bankName},#{accountHolder},#{bankAccount},#{idCardPicPath},#{bankPicPath})
	</insert>

	<!-- 删除用户文件路径 -->
	<update id="delUserPic" parameterType="user">
		update au_user
		 <set>
		 	<if test="idCardPicPath != null">idCardPicPath = null, </if>
		 	<if test="bankPicPath != null">bankPicPath = null</if>
		 </set>
		 where id = #{id}
	</update>

	<!-- 根据id获取用户信息 -->
	<select id="getUserById" parameterType="user" resultType="user">
		select * from au_user where id=#{id}
	</select>

	<!-- 删除用户 -->
	<delete id="delUser" parameterType="user">
		delete from au_user where id=#{id}
	</delete>

	<!-- 根据roleId修改roleName -->
	<update id="updateUserRoleNameByRoleId" parameterType="user">
		update au_user set roleName = #{roleName} where roleId = #{roleId}
	</update>

	<!-- 根据roleId查询所有用户列表 -->
	<select id="getUserListByRoleId" resultType="user" parameterType="user">
		select * from au_user where roleId = #{roleId}
	</select>

</mapper>